.container{
    /* border: 1px solid black; */
    background-color: rgba(128, 0, 128, 0.053);
}
.mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding: 10px;
    padding-right: 20px;
    background-color: rgba(128, 0, 128, 0.365);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: cover;
    background-attachment: fixed;
    background-position: fixed; */
    /* position: absolute; */
}
.navbarLinks ul{
    display: flex;
    margin-top: 10px;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row;
    margin-right: 30px;
}
 .navbarLinks ul li{
    list-style: none;
    /* gap:10px; */
    padding-left: 15px;
    padding-right: 15px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; */
}
.navbarLinks ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.navbarLinks ul li a:hover{
    color: purple;
}
.sec1Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec1Heading{
    margin: 40px;
    color: purple;
    /* text-decoration: bold; */
    font-weight: bold;
}
.sec1Content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: rgba(128, 0, 128, 0.61);
}
.sec1TextContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
    color: grey;
    margin-bottom: 70px;
}
.sec2Container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.sec2Heading{
    margin: 40px;
    color: purple;
    /* text-decoration: bold; */
    font-weight: bold;
    text-align: center;
}
.sec21Content{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 10px; */
}
.sec21Content h1{
    font-size: 50px;
    margin-right: 20px;
    color: purple;
}
.sec21Content h3{
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    /* text-decoration: underline; */
}

.sec22Content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    margin-top: 40px;
}
.sec22Content h1{
    font-size: 50px;
    margin-left: 20px;
    color: purple;
}
.sec22Content h3{
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}
.sec23Content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    margin-top: 40px;
}
.sec23Content h1{
    font-size: 50px;
    margin-right: 20px;
    color: purple;
}
.sec23Content h3{
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}
.sec3Container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.sec3Container h1{
    font-size: 50px;
    margin-right: 20px;
    color: purple;
    margin-bottom: 90px;
}
.sec3Container button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width:40%;
    font-size: 20px;
    background-color: purple;
    margin-bottom: 90px;
    color: white;
}
.sec3Container button:hover{
    cursor: pointer;
    background-color: rgba(128, 0, 128, 0.39);
    color: black;
}